/* Nav style */
.topnav {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d8e0de+0,aebfbc+22,99afab+33,8ea6a2+50,829d98+67,4e5c5a+82,0e0e0e+100;Grey+3D */
background: #d8e0de; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #d8e0de 0%, #aebfbc 22%, #99afab 33%, #8ea6a2 50%, #829d98 67%, #4e5c5a 82%, #0e0e0e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #d8e0de 0%,#aebfbc 22%,#99afab 33%,#8ea6a2 50%,#829d98 67%,#4e5c5a 82%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #d8e0de 0%,#aebfbc 22%,#99afab 33%,#8ea6a2 50%,#829d98 67%,#4e5c5a 82%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e0de', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    overflow: hidden;
  }
  
  /* Nav link style */
  .topnav a {
    float: left;
    color: #101933;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Nav hover style */
  .topnav a:hover {
    background-color: #535f4a;
    color: black;
  }
  
  /* Nav active style */
  .topnav a.active {
    background-color: #000000;
    color: white;
  }
  /* Nav search style */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  .banner {
    background-color: #8ea6a2;
    color: white;
    padding: 4vh;
    height: 10vh;
  }
  .banner2 {
    background-color: #52485e;
    color: white;
    padding: 4vh;
    height: 10vh;
  }
  .banner3 {
    background-color: #2a0d4b;
    color: white;
    padding: 4vh;
    height: 10vh;
  }
  /* photos */
.photos {
  size: 50px;
}
  /* headerit */  
.headerit {
  color: cadetblue;
}
/* Zombie */
.headerzombie {
  font-size: 20px;
  color: cadetblue;
  margin: 5px 50px 5px 0px;
  margin: 50px;
  text-align: justify;
}
.zombiephoto {
  width: 450px;
  float: left;
}
.zombiephoto2 {
  width: 450px;
  float: right;
  padding: 5px;
}